{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<div class="container mt-8" data-page-type="view_message_page"  data-inbox-url="{% url 'inbox' %}">
    <div class="card">
        <div class="card-header text-center">
            <h3>Message from {{ message.sender.username }}</h3>
        </div>
        <div class="card-body">
            <p class="card-text"><i class="fas fa-user"></i> <strong>Sender:</strong> {{ message.sender.username }}</p>
            <p class="card-text"><i class="fas fa-envelope-open-text"></i> <strong>Subject:</strong> {{ message.subject }}</p>
            <p class="card-text"><i class="fas fa-calendar-alt"></i> <strong>Received:</strong> {{ message.timestamp }}</p>
            <p class="card-text"><i class="fas fa-align-left"></i> <strong>Message:</strong> {{ message.content }}</p>
        </div>
        <div class="card-footer bg-transparent d-flex justify-content-between">
            <div class="d-flex justify-content-between align-items-left ">
                <a href="{% url 'send_message_to' message.sender.id %}" class="btn btn-primary">
                    <i class="fas fa-reply"></i> Reply
                </a>
            </div>
            <div class="d-flex justify-content-between align-items-right ">
                <button type="button" class="btn btn-danger delete-btn" data-message-id="{{ message.id }}">
                    <i class="fas fa-trash"></i> Delete
                </button>
            </div>
        </div>
    </div>
    <hr>
    <a href="{% url 'inbox' %}"><button type="button2" class="btn btn-secondary btn-lg btn-block">Back to inbox</button></a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% load static %}
<script src="{% static 'js/messages_actions.js' %}"></script>

{% endblock %}