{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<div class="container mt-8" data-page-type="offer_view_detail_requester">
    <div class="row request-container">
        <div class="col-md-12 col-lg-12 mb-4 item_request" id="request_-{{ request_.id }}">
            <div class="card">{#<div class="card h-100 shadow-sm">#}
                <div class="card-header text-center">
                    <h3>{{ request_.title }}</h3>
                </div>
                <div class="card-body">
                    <p class="card-text"><i class="fas fa-align-left"></i> <strong>Description:</strong> {{ request_.description }}</p>
                    <p class="card-text"><i class="fas fa-map-marker-alt"></i> <strong>Location:</strong> {{ request_.location }}</p>
                    <p class="card-text"><i class="fas fa-filter"></i> <strong>Category:</strong> {{ request_.category }}</p>
                    <p class="card-text"><i class="fas fa-bolt"></i> <strong>Urgency:</strong> {{ request_.get_urgency_display }}</p>
                    <p class="card-text"><i class="fas fa-info-circle"></i> <strong>Status:</strong> {{ request_.get_status_display }}</p>
                    <p class="card-text"><i class="fas fa-calendar-alt"></i> <strong>Submitted on:</strong> {{ request_.created_at|date:"SHORT_DATE_FORMAT" }}</p>
                    {% if request_.accepted_by %}
                    <p class="card-text accepted-by"><i class="fas fa-user-check"></i> <strong>Accepted by:</strong> {{ request_.accepted_by.username }}</p>
                    {% endif %}
                </div>
                <div method="post" class="card-footer bg-transparent d-flex justify-content-between">
                    <div class="d-flex justify-content-between align-items-left ">
                        <a href="{% url 'send_message_to' request_.user.id %}" class="btn btn-primary">
                            <i class="fas fa-envelope"></i> Message
                        </a>
                    </div>
                    <div class="d-flex justify-content-between align-items-right">
                        <form class="accept-form" data-request-id="{{ request_.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="request_id" value="{{ request_.id }}">
                            {% if request_.accepted_by %}
                            <button type="button" class="btn btn-danger accept-btn" data-action="retract">Retract</button>
                            {% else %}
                            <button type="button" class="btn btn-success accept-btn" data-action="accept">Accept</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <a href="{{request.META.HTTP_REFERER|escape}}"><button type="button2" class="btn btn-secondary btn-lg btn-block">Return</button></a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% load static %}
<script src="{% static 'js/accept_request.js' %}"></script>
{% endblock %}
