{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">

<div class="auth-container">
    <h2>Login</h2>
    <form method="post" class="auth-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {# Check the field's name for 'remember_me' #}
                {% if field.name == 'remember_me' %}
                    <div class="checkbox">
                        <label>
                            {{ field }} {{ field.label }}
                        </label>
                    </div>
                {% else %}
                    
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="text-center mt-3">
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
        </div>
    </form>
</div>
{% endblock %}
